.main{
    margin:30px;
    background: white;
}
body{
    background:#e8e8e8;
}
.btn-publish{
    float:right;
    margin-bottom: 15px;
}
.text_desc{
    font-size:12px;
    font-weight: normal;
    color:#999;
}
.img_size{
    width:60px;
}

.left_list{
    margin-top: 70px;
}