<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/main.css">


</head>
<body>
<!--引入头部-->
<div th:insert="~{/header:: nav} " />
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12">
            <h2><div class="glyphicon glyphicon-th-list"></div><span>发现</span></h2>
            <hr/>
            <div class="media" th:each="questionDto:${pageBean.questionDTOs}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img_size" th:src="${questionDto.user.avatarUrl}" alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{/question/{id}(id=${questionDto.question.id})}"><h4 class="media-heading" th:text="${questionDto.question.title}"></h4></a>
                    <span th:text="${questionDto.question.description}"></span><br/>
                    <span class="text_desc"><span th:text="${questionDto.question.commentCount}"></span>个回复，
                        <span th:text="${questionDto.question.viewCount}"></span>个浏览数,
                        <span th:text="${#dates.format(questionDto.question.gmtCreate,'yyyy-MM-dd hh:mm:ss')}"></span>
                    </span>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination" >
                    <li class="pagination" th:if="${pageBean.fistPage}"><a th:href="@{/(currentPage=1)}">首页</a></li>
                    <li class="pagination" th:if="${pageBean.fistPage}"><a th:href="@{/(currentPage=${pageBean.currentPage}-1)}">上一页</a></li>
                    <li th:each="list:${pageBean.list}" th:class="${pageBean.currentPage==list}?'active':''">
                        <a th:href="@{/(currentPage=${list})}" th:text="${list}" ></a>
                    </li>
                    <li class="pagination" th:if="${pageBean.lastPage}"><a th:href="@{/(currentPage=${pageBean.currentPage}+1)}">下一页</a></li>
                    <li class="pagination" th:if="${pageBean.lastPage}"><a th:href="@{/(currentPage=${pageBean.totalPage})}">尾页</a></li>
                </ul>
            </nav>

        </div>
        <div class="col-lg-3 col-md-12">
            <h3>热门话题</h3>
            话题一：<br/>
            话题二：<br/>
        </div>
    </div>
</div>
</body>
</html>